COMPOSE_PROJECT_NAME=agenda
TZ=America/Bahia
POSTGRES_DB=agenda
POSTGRES_USER=agenda
POSTGRES_PASSWORD=SUBSTITUIR_POR_SENHA_FORTE
DOMO_BUSINESS_INSTANCE_NAME=domo-business-agendamentos
DOMO_BUSINESS_NUMBER=557191856704
DOMO_SCHEDULER_TIMEZONE=America/Bahia
