COMPOSE_PROJECT_NAME=agenda
TZ=America/Bahia
POSTGRES_DB=agenda
POSTGRES_USER=agenda
POSTGRES_PASSWORD=SUBSTITUIR_POR_SENHA_FORTE
DOMO_BUSINESS_INSTANCE_NAME=domo-business-agendamentos
DOMO_BUSINESS_NUMBER=557191856704
DOMO_SCHEDULER_TIMEZONE=America/Bahia
AGENDA_PORT=3010
EVOLUTION_PORT=8081
EVOLUTION_API_KEY=SUBSTITUIR_POR_CHAVE_FORTE
EVOLUTION_POSTGRES_DB=agenda_evolution
EVOLUTION_POSTGRES_USER=agenda_evolution
EVOLUTION_POSTGRES_PASSWORD=SUBSTITUIR_POR_OUTRA_SENHA_FORTE
